conky.config = {

	--Various settings

	background = true, 							-- forked to background
	cpu_avg_samples = 2,						-- The number of samples to average for CPU monitoring.
	diskio_avg_samples = 10,					-- The number of samples to average for disk I/O monitoring.
	double_buffer = true,						-- Use the Xdbe extension? (eliminates flicker)
	if_up_strictness = 'address',				-- how strict if testing interface is up - up, link or address
	net_avg_samples = 2,						-- The number of samples to average for net data
	no_buffers = true,							-- Subtract (file system) buffers from used memory?
	temperature_unit = 'celsius',				-- fahrenheit or celsius
	text_buffer_size = 2048,					-- size of buffer for display of content of large variables - default 256
	update_interval = 1,						-- update interval
	imlib_cache_size = 0,                       -- disable image cache to get a new spotify cover per song


	--Placement

	alignment = 'top_right',					-- top_left,top_middle,top_right,bottom_left,bottom_middle,bottom_right,
												-- middle_left,middle_middle,middle_right,none
	--Arch Duoscreen
	--gap_x = -1910,
	gap_x = 31,									-- pixels between right or left border
	gap_y = 62,									-- 74 pixels between bottom or left border
	minimum_height = 200,						-- minimum height of window
	minimum_width = 600,						-- minimum width of window
	maximum_width = 600,						-- maximum width of window

	--Graphical

	border_inner_margin = 10, 					-- margin between border and text
	border_outer_margin = 5, 					-- margin between border and edge of window
	border_width = 0, 							-- border width in pixels
	default_bar_width = 80,					    -- default is 0 - full width
	default_bar_height = 10,					-- default is 6
	default_gauge_height = 25,					-- default is 25
	default_gauge_width =40,					-- default is 40
	default_graph_height = 40,					-- default is 25
	default_graph_width = 0,					-- default is 0 - full width
	default_shade_color = '#000000',			-- default shading colour
	default_outline_color = '#000000',			-- default outline colour
	draw_borders = false,						-- draw borders around text
	draw_graph_borders = true,					-- draw borders around graphs
	draw_shades = false,						-- draw shades
	draw_outline = false,						-- draw outline
	stippled_borders = 0,						-- dashing the border

	--Textual

	extra_newline = false,						-- extra newline at the end - for asesome's wiboxes
	format_human_readable = true,				-- KiB, MiB rather then number of bytes
	font = 'Roboto Mono:size=10',  				-- font for complete conky unless in code defined
	max_text_width = 0,							-- 0 will make sure line does not get broken if width too smal
	max_user_text = 16384,						-- max text in conky default 16384
	override_utf8_locale = true,				-- force UTF8 requires xft
	short_units = true,							-- shorten units from KiB to k
	top_name_width = 21,						-- width for $top name value default 15
	top_name_verbose = false,					-- If true, top name shows the full command line of  each  process - Default value is false.
	uppercase = false,							-- uppercase or not
	use_spacer = 'none',						-- adds spaces around certain objects to align - default none
	use_xft = true,								-- xft font - anti-aliased font
	xftalpha = 1,								-- alpha of the xft font - between 0-1

	--Windows

	own_window = true,							-- create your own window to draw
	own_window_argb_value = 255,			    -- real transparency - composite manager required 0-255
	own_window_argb_visual = true,				-- use ARGB - composite manager required
	own_window_colour = '#282A2E',				-- set colour if own_window_transparent no
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',  -- if own_window true - just hints - own_window_type sets it
	own_window_transparent = false,				-- if own_window_argb_visual is true sets background opacity 0%
	own_window_title = 'system_conky',			-- set the name manually  - default conky "hostname"
	own_window_type = 'normal',				-- if own_window true options are: normal/override/dock/desktop/panel


	--Colours

    default_color = 'gray',
    default_outline_color = 'white',
    default_shade_color = 'white',
    color1 = '#1793d1',

    --Lua

};

conky.text = [[
${color1}${font ConkySymbols:size=20}t${font} ${voffset -10}GNU/Linux» $hr ${color}
${color1}${goto 45}OS     : ${color}${execi 86400 cat `ls -atr /etc/*-release | tail -2` | grep "PRETTY_NAME" | cut -d= -f2 |  sed 's/"//g'}
${color1}${goto 45}Kernel : ${color}$kernel on $machine


${color1}${font ConkySymbols:size=16}f${font} ${voffset -10} System» $hr${color}
${color1}${goto 43}Core 1 : ${color}${freq_g 1}GHz ${alignr}${cpu cpu0}% ${cpubar cpu0 4,100}

${color1}${goto 43}Uptime : ${color}$uptime_short ${alignr}${color1}Load  : ${color}${loadavg}


${color1}${font ConkySymbols:size=16}h${font} ${voffset -10} Temperature» $hr${color}
${color1}${goto 43}CPU : ${color}${exec ~/.config/conky/temp1.sh} ${alignr}${color1}GPU : ${color}${exec ~/.config/conky/temp2.sh}


${color1}${font ConkySymbols:size=16}J${font} ${voffset -10} Memory» $hr${color}
${color1}${goto 43}RAM : ${color}$mem/$memmax ${alignr}$memperc% ${membar 4,100}
${color1}${goto 43}SWAP: ${color}$swap/$swapmax $alignr}$swapperc% ${swapbar 4,100}


${color1}${font ConkySymbols:size=16}n${font} ${voffset -10} Processes» $hr${color}

${color1}${goto 43}CPU usage ${alignr}Memory Usage${color}
${color1}${goto 43}${stippled_hr}${color}
${goto 45}${top name 1} ${color}${top cpu 1}% ${alignr}${top_mem name 1}${top_mem mem_res 1}

${color1}${goto 43}Processes: ${color}$processes ${color1}Running: ${color}$running_processes


${color1}${font ConkySymbols:size=16}k${font} ${voffset -10} Storage» $hr${color}
${color1}${goto 43}ROOT : ${color}${fs_used /}/${fs_size /} ${alignr}${fs_used_perc /}% ${fs_bar 4,100 /}
${goto 45}


${color1}${font ConkySymbols:size=16}b${font} ${voffset -10} Wireless» $hr${color}
${color1}${goto 43}SSID          : ${color}${wireless_essid wlan0} ${color1}${alignr}Signal: ${color}${wireless_link_qual_perc wlan0}% ${wireless_link_bar 4,100 wlan0}
${color1}${goto 43}Bitrate       : ${color}${wireless_bitrate wlan0}
${color1}${goto 43}Total Down/Up : ${color}${totaldown wlan0}/${totalup wlan0} 
${color1}${goto 43}Speed Down/Up : ${color}${downspeed wlan0}/${upspeed wlan0}

]]
